	<div class="container py-md-5 py-5">
		<h3 class="heading mb-sm-5 mb-3">QuanStore</h3>
    <h5 class="heading mb-2">
THỜI GIAN HOẠT ĐỘNG: 09:00 – 21:00 | Tất cả các ngày trong tuần<br>
158/7 Nguyễn Công Trứ, P.Nguyễn Thái Bình, Quận 1, TP.HCM<br>
Hotline: 0902 920 670</h5>
		<div class="row contact_information">
			<div class="col-md-6 contact_left">
				<div class="contact_border p-4">
				</div>
			</div>
			<div class="col-md-6 mt-md-0 mt-4">
				<div class="contact_right p-lg-5 p-4">
				</div>
			</div>
		</div>  
	</div>