<div class="container py-md-5 py-3">
	<!-- <h5 class="heading mb-2">Important Brand</h5> -->
		<h3 class="heading mb-sm-5 mb-3">Important Brand</h3>
      <div class="row news-grids text-center">
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal1"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal2"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal3"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal4"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal5"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal6"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal7"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal8"><img src="https://images2.alphacoders.com/969/969456.jpg" alt="portfolio image" class="img-fluid"></a>
			</div>
		</div>
