<section class="contact py-5" id="contact">
	<div class="container py-md-5 py-5">
	<h5 class="heading mb-2">Contact Us</h5>
		<h3 class="heading mb-sm-5 mb-3">CONTACT US TO GET THE EARLIEST OFFER</h3>
		<div class="row contact_information">
			<div class="col-md-6 contact_left">
				<div class="contact_border p-4">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3786.5235417866493!2d105.85559191468917!3d18.36900867858659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31384dcb5b3d8fdb%3A0x9f9a8a48a0984662!2zNTYgTMOqIMSQ4bqhaSBIw6BuaCwgVGjhuqFjaCBDaMOidSwgVGjhuqFjaCBIw6AsIEjDoCBUxKluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1587027256672!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
			<div class="col-md-6 mt-md-0 mt-4">
				<div class="contact_right p-lg-5 p-4">
					<form action="#" method="post">
						<div class="w3_agileits_contact_left">
							<h3 class="mb-3">Contact form</h3>
							<input type="text" name="Name" placeholder="Your Name" required="">
							<input type="email" name="Email" placeholder="Your Email" required="">
							<input type="text" name="Phone" placeholder="Phone Number" required="">
							<textarea placeholder="Your Message Here..." required=""></textarea>
						</div>
						<div class="w3_agileits_contact_right">
							<button type="submit" >Submit</button>
						</div>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>