<section class="text py-5" id="register">
	<div class="container py-md-5 py-3 text-center">		
		<div class="row">
			<div class="col-12">
				<h2 class="mb-4 heading">The Best Business <span>company</span>.</h2>
				<p>Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accus antium dolor emque
				laudantium, totam rem aperiam, eaqu ipsa quae ab illo quasi architi ecto beatae vitae dicta
				sunt dolor ipsum.</p>
			</div>	
					<div class="col-md-6 padding">
							<!-- banner form -->
							<form action="#" method="post">
								<h5 class="mb-3">Register Here</h5> 
								<div class="form-style-w3ls">
									<input placeholder="Your Name" name="name" type="text" required=""><br/>
									<input placeholder="Your Email Id" name="email" type="email" required=""><br/>
									<input placeholder="Contact Number" name="number" type="text" required=""><br/>
									<input placeholder="Password" name="password" type="password" required="">
									<button Class="btn"> Get registered</button>
									<span>By registering, you agree to our <a href="#">Terms & Conditions.</a></span>
								</div>
							</form>
							<!-- //banner form -->
			</div>			
		</div>
	</div>		
</section>